.loader {
  width: 100px;
  height: 100px;
  position: relative;
}

.loader div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: loaderOne 1.2s linear infinite;
}

.loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #ad60f5;
  animation: loaderTwo 1.2s linear infinite;
}

@keyframes loaderOne {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}

@keyframes loaderTwo {
  0% { transform: rotate(0deg); border-width: 1px; }
  50% { transform: rotate(180deg); border-width: 10px; }
  100% { transform: rotate(360deg); border-width: 1px; }
}